USE [master]
GO
/****** Object:  Database [fitnessdb]    Script Date: 20-09-2020 09:26:02 ******/
CREATE DATABASE [fitnessdb] ON  PRIMARY 
( NAME = N'fitnessdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\fitnessdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'fitnessdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\fitnessdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [fitnessdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [fitnessdb]
GO
/****** Object:  Table [dbo].[CompanyMaster]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyMaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyCode] [nvarchar](50) NULL,
	[CompanyName] [nvarchar](255) NULL,
	[BranchCode] [nvarchar](50) NULL,
	[BranchName] [nvarchar](255) NULL,
	[ShortCode] [int] NULL,
	[Address] [text] NULL,
	[City] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[Createdby] [nvarchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_CompanyMaster] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyMemberCount]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyMemberCount](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NULL,
	[PraposeCount] [int] NULL,
	[ApprovedCount] [int] NULL,
	[startdate] [date] NULL,
	[enddate] [date] NULL,
 CONSTRAINT [PK_CompanyMemberCount] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerMaster]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerMaster](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[custcode] [nvarchar](50) NULL,
	[name] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[mobile] [nvarchar](50) NULL,
	[dob] [date] NULL,
	[age] [int] NULL,
	[gender] [int] NULL,
	[location] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL,
	[state] [nvarchar](50) NULL,
	[reference] [nvarchar](50) NULL,
	[type] [nvarchar](50) NULL,
	[orgname] [nvarchar](255) NULL,
	[designation] [nvarchar](50) NULL,
	[dept] [nvarchar](50) NULL,
	[business] [nvarchar](50) NULL,
	[bussname] [nvarchar](255) NULL,
	[dailyroutine] [nvarchar](255) NULL,
	[spocname] [nvarchar](50) NULL,
	[spocmob] [nvarchar](50) NULL,
	[IsRegister] [bit] NULL,
	[IsAdmin] [bit] NULL,
	[IsActive] [bit] NULL,
	[SendCredMail] [bit] NULL,
	[UserType] [int] NULL,
	[CompanyId] [int] NULL,
	[CountId] [int] NULL,
	[createdby] [nvarchar](50) NULL,
	[createdon] [datetime] NULL,
	[modifiedby] [nvarchar](50) NULL,
	[modifiedon] [datetime] NULL,
 CONSTRAINT [PK_UserMaster] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExerciseMaster]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExerciseMaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[exerciseName] [nvarchar](255) NULL,
 CONSTRAINT [PK_ExerciseMaster] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordMaster]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordMaster](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NULL,
	[pwd] [nvarchar](max) NULL,
	[version] [decimal](18, 0) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionsMaster]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionsMaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[question] [text] NULL,
	[sequence] [int] NULL,
	[type] [nvarchar](50) NULL,
	[subtype] [nvarchar](50) NULL,
	[createdby] [nvarchar](50) NULL,
	[createdon] [datetime] NULL,
	[modifiedby] [nvarchar](50) NULL,
	[modifiedon] [datetime] NULL,
 CONSTRAINT [PK_QuestionsMaster] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SPOCmaster]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPOCmaster](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[companyId] [int] NULL,
	[companyCode] [nvarchar](50) NULL,
	[branchCode] [nvarchar](50) NULL,
	[spocname] [nvarchar](255) NULL,
	[designation] [nvarchar](50) NULL,
	[spocemail] [nvarchar](255) NULL,
	[spoccontactno] [nvarchar](50) NULL,
	[category] [nvarchar](50) NULL,
	[typeId] [int] NULL,
	[createdby] [nvarchar](50) NULL,
	[createdon] [datetime] NULL,
	[modifiedby] [nvarchar](50) NULL,
	[modifiedon] [datetime] NULL,
 CONSTRAINT [PK_SPOCmaster] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TempExcel]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempExcel](
	[SrNo] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Mobile] [nvarchar](50) NULL,
	[CompanyCode] [nvarchar](50) NULL,
	[BranchCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_TempExcel] PRIMARY KEY CLUSTERED 
(
	[SrNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTypeMaster]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTypeMaster](
	[id] [int] NULL,
	[typeId] [int] NULL,
	[typeText] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[V115]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V115](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NULL,
	[parentname] [nvarchar](255) NULL,
	[witnessname] [nvarchar](255) NULL,
	[createdby] [nvarchar](50) NULL,
	[createdon] [datetime] NULL,
	[modifiedby] [nvarchar](50) NULL,
	[modifiedon] [datetime] NULL,
 CONSTRAINT [PK_V115] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[V115Transactions]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V115Transactions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[v115Id] [bigint] NULL,
	[qid] [int] NULL,
	[answer] [nvarchar](50) NULL,
	[createdby] [nvarchar](50) NULL,
	[createdon] [datetime] NULL,
 CONSTRAINT [PK_V115Transactions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[V126]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V126](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NULL,
	[physicianName] [nvarchar](255) NULL,
	[physicianPhone] [nvarchar](255) NULL,
	[emergencyContactPersonName] [nvarchar](255) NULL,
	[emergencyContactPersonPhone] [nvarchar](50) NULL,
	[MedicineDrugsAndReason] [text] NULL,
	[PhysicianKnowParticipation] [nvarchar](50) NULL,
	[PhysicalActivity] [text] NULL,
	[cretaedby] [nvarchar](255) NULL,
	[createdon] [datetime] NULL,
	[modifiedby] [nvarchar](255) NULL,
	[modifiedon] [datetime] NULL,
 CONSTRAINT [PK_V126] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[V126Transactions]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V126Transactions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[v126id] [bigint] NULL,
	[qid] [int] NULL,
	[answer] [nvarchar](50) NULL,
	[createdby] [nvarchar](50) NULL,
	[createdon] [datetime] NULL,
 CONSTRAINT [PK_V126Transactions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[v137]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[v137](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[empEmail] [nvarchar](255) NULL,
	[RateExp] [nvarchar](50) NULL,
	[IsAthlete] [nvarchar](50) NULL,
	[IfAthleteY] [nvarchar](255) NULL,
	[IsNegFeeling] [nvarchar](50) NULL,
	[IfNegFeelingY] [nvarchar](255) NULL,
	[IsNegFeelingFit] [nvarchar](50) NULL,
	[IsNegFeelingFitY] [nvarchar](255) NULL,
	[IsStartExe] [nvarchar](50) NULL,
	[ExeTime] [nvarchar](50) NULL,
	[ExeUnit] [nvarchar](255) NULL,
	[RegIndExe] [nvarchar](50) NULL,
	[IfRegIndExeY] [nvarchar](255) NULL,
	[RegIndExeTime] [nvarchar](50) NULL,
	[RegIndExeUnit] [nvarchar](50) NULL,
	[RateRedIndExe] [nvarchar](50) NULL,
	[ExeFromMonths] [nvarchar](50) NULL,
	[ExeFromYeasrs] [nvarchar](50) NULL,
	[ParticipatedOtherExeMonths] [nvarchar](50) NULL,
	[ParticipatedOtherExeYears] [nvarchar](50) NULL,
	[ExeDuringWRKDY] [nvarchar](50) NULL,
	[ExeInterfereWithJob] [nvarchar](50) NULL,
	[ExeBenefitJob] [nvarchar](50) NULL,
	[WeightInc] [nvarchar](50) NULL,
	[WeightDec] [nvarchar](50) NULL,
	[Createdby] [nvarchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_v137] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[v137Transactions]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[v137Transactions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[v137id] [bigint] NULL,
	[qid] [int] NULL,
	[subQ] [nvarchar](50) NULL,
	[Ans] [nvarchar](255) NULL,
	[createdby] [nvarchar](50) NULL,
	[createdon] [datetime] NULL,
	[modifiedby] [nvarchar](50) NULL,
	[modifiedon] [datetime] NULL,
 CONSTRAINT [PK_v137Transactions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[V143]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V143](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NULL,
	[createdby] [nvarchar](255) NULL,
	[createdon] [datetime] NULL,
 CONSTRAINT [PK_V143] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[V143Transactions]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V143Transactions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[v143id] [bigint] NULL,
	[qid] [int] NULL,
	[answer] [nvarchar](50) NULL,
	[createdby] [nvarchar](255) NULL,
	[createdon] [datetime] NULL,
 CONSTRAINT [PK_V143Transactions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[V158]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V158](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NULL,
	[medications] [nvarchar](255) NULL,
	[effects] [nvarchar](255) NULL,
	[recommandations] [text] NULL,
	[createdby] [nvarchar](50) NULL,
	[createdon] [datetime] NULL,
 CONSTRAINT [PK_V158] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[V169]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V169](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[empEmail] [nvarchar](255) NULL,
	[EssRestingHR] [float] NULL,
	[EssExerciseHR] [float] NULL,
	[EssHRDate] [date] NULL,
	[EssRestingBP] [nvarchar](50) NULL,
	[EssRestingBPDate] [date] NULL,
	[BCADate] [date] NULL,
	[WeightIb] [float] NULL,
	[HeightIn] [float] NULL,
	[WeightKg] [float] NULL,
	[HeightM] [float] NULL,
	[BCABMI] [float] NULL,
	[SKMmenChest] [float] NULL,
	[SKMmenAbdomen] [float] NULL,
	[SKMmenThigh] [float] NULL,
	[SKMmenTotal] [float] NULL,
	[SKMwomenTriceps] [float] NULL,
	[SKMwomenSuprailium] [float] NULL,
	[SKMwomenThigh] [float] NULL,
	[SKMwomenTotal] [float] NULL,
	[SKMBodyFatEst] [float] NULL,
	[SKMDate] [date] NULL,
	[GMDate] [date] NULL,
	[GMAbdomen] [float] NULL,
	[GMHip] [float] NULL,
	[GMWaist] [float] NULL,
	[GMWaistToHipRatio] [nvarchar](50) NULL,
	[Createdby] [nvarchar](255) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [nvarchar](255) NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_V169] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CompanyMaster] ON 

INSERT [dbo].[CompanyMaster] ([id], [CompanyCode], [CompanyName], [BranchCode], [BranchName], [ShortCode], [Address], [City], [State], [Createdby], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (1, N'COM0001', N'Soda', N'001', N'aurangabad', 101, N'Shendra', N'Aurangabad', N'mh', N'samir@gmail.com', CAST(N'2020-09-04T21:25:47.997' AS DateTime), NULL, NULL)
INSERT [dbo].[CompanyMaster] ([id], [CompanyCode], [CompanyName], [BranchCode], [BranchName], [ShortCode], [Address], [City], [State], [Createdby], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (2, N'T0001', N'tiger hr solution pvt ltd', N'01', N'waluj', 1, N'tilaknagar ', N'abd', N'mh', N'samir@gmail.com', CAST(N'2020-09-04T21:47:34.023' AS DateTime), NULL, NULL)
INSERT [dbo].[CompanyMaster] ([id], [CompanyCode], [CompanyName], [BranchCode], [BranchName], [ShortCode], [Address], [City], [State], [Createdby], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (3, N'COM', N'test company', N'123', N'test branch', 101, N'no address', N'aurangabad', N'mh', N'anand.narwade11@gmail.com', CAST(N'2020-09-18T16:38:10.483' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[CompanyMaster] OFF
SET IDENTITY_INSERT [dbo].[CompanyMemberCount] ON 

INSERT [dbo].[CompanyMemberCount] ([Id], [CompanyId], [PraposeCount], [ApprovedCount], [startdate], [enddate]) VALUES (6, 1, 2, 2, CAST(N'2020-09-21' AS Date), CAST(N'2020-09-30' AS Date))
SET IDENTITY_INSERT [dbo].[CompanyMemberCount] OFF
SET IDENTITY_INSERT [dbo].[CustomerMaster] ON 

SET IDENTITY_INSERT [dbo].[CustomerMaster] OFF
SET IDENTITY_INSERT [dbo].[ExerciseMaster] ON 

INSERT [dbo].[ExerciseMaster] ([id], [exerciseName]) VALUES (1, N'Weight loss')
INSERT [dbo].[ExerciseMaster] ([id], [exerciseName]) VALUES (2, N'weigght gain')
INSERT [dbo].[ExerciseMaster] ([id], [exerciseName]) VALUES (3, N'cardio')
SET IDENTITY_INSERT [dbo].[ExerciseMaster] OFF
SET IDENTITY_INSERT [dbo].[PasswordMaster] ON 

INSERT [dbo].[PasswordMaster] ([id], [email], [pwd], [version]) VALUES (1, N'samir@gmail.com', N'Password', CAST(1 AS Decimal(18, 0)))
INSERT [dbo].[PasswordMaster] ([id], [email], [pwd], [version]) VALUES (3, N'anand.narwade11@gmail.com', N'AnandN$#$000', CAST(1 AS Decimal(18, 0)))
INSERT [dbo].[PasswordMaster] ([id], [email], [pwd], [version]) VALUES (4, N'keshav@gmail.com', N'KeshavK@#@123', CAST(1 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[PasswordMaster] OFF
SET IDENTITY_INSERT [dbo].[QuestionsMaster] ON 

INSERT [dbo].[QuestionsMaster] ([id], [question], [sequence], [type], [subtype], [createdby], [createdon], [modifiedby], [modifiedon]) VALUES (1, N'Has your doctor ever said that you have a heart condition and that you should only do physical activity recommended by a doctor? ', 1, N'Par-q and you', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[QuestionsMaster] ([id], [question], [sequence], [type], [subtype], [createdby], [createdon], [modifiedby], [modifiedon]) VALUES (2, N'Do you feel pain in your chest when you do physical activity?', 2, N'Par-q and you', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[QuestionsMaster] ([id], [question], [sequence], [type], [subtype], [createdby], [createdon], [modifiedby], [modifiedon]) VALUES (3, N'In the past month, have you had chest pain when you were not doing physical activity?', 3, N'Par-q and you', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[QuestionsMaster] OFF
SET IDENTITY_INSERT [dbo].[SPOCmaster] ON 

INSERT [dbo].[SPOCmaster] ([id], [companyId], [companyCode], [branchCode], [spocname], [designation], [spocemail], [spoccontactno], [category], [typeId], [createdby], [createdon], [modifiedby], [modifiedon]) VALUES (6, 1, NULL, NULL, N'b', N'', N'anand.narwade11@gmail.com', N'8788374776', NULL, 2, N'anand.narwade11@gmail.com', CAST(N'2020-09-19T21:15:26.960' AS DateTime), N'anand.narwade11@gmail.com', CAST(N'2020-09-19T21:15:56.243' AS DateTime))
INSERT [dbo].[SPOCmaster] ([id], [companyId], [companyCode], [branchCode], [spocname], [designation], [spocemail], [spoccontactno], [category], [typeId], [createdby], [createdon], [modifiedby], [modifiedon]) VALUES (7, 1, NULL, NULL, N'Sakharam pant', NULL, N'sakharam.pant@gmail.com', N'4455668877', NULL, 3, N'anand.narwade11@gmail.com', CAST(N'2020-09-19T21:17:30.537' AS DateTime), N'anand.narwade11@gmail.com', CAST(N'2020-09-19T22:51:06.007' AS DateTime))
INSERT [dbo].[SPOCmaster] ([id], [companyId], [companyCode], [branchCode], [spocname], [designation], [spocemail], [spoccontactno], [category], [typeId], [createdby], [createdon], [modifiedby], [modifiedon]) VALUES (8, 1, NULL, NULL, N'D', N'', N'sachin.tendulkar@icc.com', N'9988009988', NULL, 3, N'anand.narwade11@gmail.com', CAST(N'2020-09-19T21:33:47.977' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[SPOCmaster] OFF
INSERT [dbo].[TempExcel] ([SrNo], [Name], [Email], [Mobile], [CompanyCode], [BranchCode]) VALUES (1, N'anand', N'anand@gmail.com', N'8007979394', NULL, NULL)
INSERT [dbo].[TempExcel] ([SrNo], [Name], [Email], [Mobile], [CompanyCode], [BranchCode]) VALUES (2, N'pawan', N'pawan@gmail.com', N'889977665', NULL, NULL)
INSERT [dbo].[UserTypeMaster] ([id], [typeId], [typeText]) VALUES (1, 1, N'Admin')
INSERT [dbo].[UserTypeMaster] ([id], [typeId], [typeText]) VALUES (2, 2, N'SPOC')
INSERT [dbo].[UserTypeMaster] ([id], [typeId], [typeText]) VALUES (3, 3, N'Team Member')
SET IDENTITY_INSERT [dbo].[V115] ON 

INSERT [dbo].[V115] ([id], [email], [parentname], [witnessname], [createdby], [createdon], [modifiedby], [modifiedon]) VALUES (9, N'anand.narwade11@gmail.com', N'Keshav', N'Kunthe', N'anand.narwade11@gmail.com', CAST(N'2020-09-09T22:01:33.490' AS DateTime), NULL, NULL)
INSERT [dbo].[V115] ([id], [email], [parentname], [witnessname], [createdby], [createdon], [modifiedby], [modifiedon]) VALUES (10, N'anand.narwade11@gmail.com', N'ajinkya', N'jadhav', N'anand.narwade11@gmail.com', CAST(N'2020-09-09T22:01:50.233' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[V115] OFF
SET IDENTITY_INSERT [dbo].[V115Transactions] ON 

INSERT [dbo].[V115Transactions] ([id], [v115Id], [qid], [answer], [createdby], [createdon]) VALUES (64, 9, 1, N'Yes', N'anand.narwade11@gmail.com', CAST(N'2020-09-09T22:01:33.497' AS DateTime))
INSERT [dbo].[V115Transactions] ([id], [v115Id], [qid], [answer], [createdby], [createdon]) VALUES (65, 9, 2, N'Yes', N'anand.narwade11@gmail.com', CAST(N'2020-09-09T22:01:33.503' AS DateTime))
INSERT [dbo].[V115Transactions] ([id], [v115Id], [qid], [answer], [createdby], [createdon]) VALUES (66, 9, 3, N'Yes', N'anand.narwade11@gmail.com', CAST(N'2020-09-09T22:01:33.503' AS DateTime))
SET IDENTITY_INSERT [dbo].[V115Transactions] OFF
SET IDENTITY_INSERT [dbo].[V126] ON 

INSERT [dbo].[V126] ([id], [email], [physicianName], [physicianPhone], [emergencyContactPersonName], [emergencyContactPersonPhone], [MedicineDrugsAndReason], [PhysicianKnowParticipation], [PhysicalActivity], [cretaedby], [createdon], [modifiedby], [modifiedon]) VALUES (1, N'samir@gmail.com', N'dr. xyz', N'02438234894', N'xyz', N'9966332211', N'test', N'no', N'nothing', N'samir@gmail.com', CAST(N'2020-08-29T16:33:38.680' AS DateTime), NULL, NULL)
INSERT [dbo].[V126] ([id], [email], [physicianName], [physicianPhone], [emergencyContactPersonName], [emergencyContactPersonPhone], [MedicineDrugsAndReason], [PhysicianKnowParticipation], [PhysicalActivity], [cretaedby], [createdon], [modifiedby], [modifiedon]) VALUES (2, N'anand.narwade11@gmail.com', N'Dr. kiran', N'0240232345', N'--', N'9874568990', N'---', N'--', N'----', N'anand.narwade11@gmail.com', CAST(N'2020-09-18T22:25:19.920' AS DateTime), NULL, NULL)
INSERT [dbo].[V126] ([id], [email], [physicianName], [physicianPhone], [emergencyContactPersonName], [emergencyContactPersonPhone], [MedicineDrugsAndReason], [PhysicianKnowParticipation], [PhysicalActivity], [cretaedby], [createdon], [modifiedby], [modifiedon]) VALUES (3, N'anand.narwade11@gmail.com', N'Dr. Abhay', N'9898989898', N'---', N'----', N'-----', N'------', N'------', N'anand.narwade11@gmail.com', CAST(N'2020-09-18T22:33:05.430' AS DateTime), N'anand.narwade11@gmail.com', CAST(N'2020-09-18T23:36:55.637' AS DateTime))
SET IDENTITY_INSERT [dbo].[V126] OFF
SET IDENTITY_INSERT [dbo].[V126Transactions] ON 

INSERT [dbo].[V126Transactions] ([id], [v126id], [qid], [answer], [createdby], [createdon]) VALUES (1, 1, 8, N'Yes', N'samir@gmail.com', CAST(N'2020-08-29T16:34:01.347' AS DateTime))
INSERT [dbo].[V126Transactions] ([id], [v126id], [qid], [answer], [createdby], [createdon]) VALUES (2, 1, 9, N'No', N'samir@gmail.com', CAST(N'2020-08-29T16:34:07.867' AS DateTime))
INSERT [dbo].[V126Transactions] ([id], [v126id], [qid], [answer], [createdby], [createdon]) VALUES (3, 1, 10, N'Yes', N'samir@gmail.com', CAST(N'2020-08-29T16:34:13.260' AS DateTime))
SET IDENTITY_INSERT [dbo].[V126Transactions] OFF
SET IDENTITY_INSERT [dbo].[v137] ON 

SET IDENTITY_INSERT [dbo].[v137] OFF
SET IDENTITY_INSERT [dbo].[v137Transactions] ON 

INSERT [dbo].[v137Transactions] ([id], [v137id], [qid], [subQ], [Ans], [createdby], [createdon], [modifiedby], [modifiedon]) VALUES (18, 22, 32, N'Q5', N'2', N'anand.narwade11@gmail.com', CAST(N'2020-09-18T23:49:53.843' AS DateTime), NULL, NULL)
INSERT [dbo].[v137Transactions] ([id], [v137id], [qid], [subQ], [Ans], [createdby], [createdon], [modifiedby], [modifiedon]) VALUES (19, 22, 33, N'Q5', N'3', N'anand.narwade11@gmail.com', CAST(N'2020-09-18T23:49:53.847' AS DateTime), NULL, NULL)
INSERT [dbo].[v137Transactions] ([id], [v137id], [qid], [subQ], [Ans], [createdby], [createdon], [modifiedby], [modifiedon]) VALUES (20, 22, 34, N'Q5', N'4', N'anand.narwade11@gmail.com', CAST(N'2020-09-18T23:49:53.847' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[v137Transactions] OFF
SET IDENTITY_INSERT [dbo].[V143] ON 

INSERT [dbo].[V143] ([id], [email], [createdby], [createdon]) VALUES (1, N'samir@gmail.com', N'samir@gmail.com', CAST(N'2020-08-29T19:45:15.700' AS DateTime))
SET IDENTITY_INSERT [dbo].[V143] OFF
SET IDENTITY_INSERT [dbo].[V143Transactions] ON 

INSERT [dbo].[V143Transactions] ([id], [v143id], [qid], [answer], [createdby], [createdon]) VALUES (1, 1, 24, NULL, N'samir@gmail.com', CAST(N'2020-08-29T19:45:49.273' AS DateTime))
INSERT [dbo].[V143Transactions] ([id], [v143id], [qid], [answer], [createdby], [createdon]) VALUES (2, 1, 25, NULL, N'samir@gmail.com', CAST(N'2020-08-29T19:45:56.540' AS DateTime))
INSERT [dbo].[V143Transactions] ([id], [v143id], [qid], [answer], [createdby], [createdon]) VALUES (3, 1, 26, NULL, N'samir@gmail.com', CAST(N'2020-08-29T19:46:00.370' AS DateTime))
SET IDENTITY_INSERT [dbo].[V143Transactions] OFF
SET IDENTITY_INSERT [dbo].[V158] ON 

INSERT [dbo].[V158] ([id], [email], [medications], [effects], [recommandations], [createdby], [createdon]) VALUES (1, N'samir@gmail.com', N'--', N'--', N'----', N'samir@gmail.com', CAST(N'2020-08-29T20:29:12.490' AS DateTime))
SET IDENTITY_INSERT [dbo].[V158] OFF
SET IDENTITY_INSERT [dbo].[V169] ON 

SET IDENTITY_INSERT [dbo].[V169] OFF
/****** Object:  Index [IX_UserMaster]    Script Date: 20-09-2020 09:26:02 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserMaster] ON [dbo].[CustomerMaster]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CompanyMemberCount]  WITH CHECK ADD  CONSTRAINT [FK_CompanyMemberCount_CompanyMaster] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[CompanyMaster] ([id])
GO
ALTER TABLE [dbo].[CompanyMemberCount] CHECK CONSTRAINT [FK_CompanyMemberCount_CompanyMaster]
GO
ALTER TABLE [dbo].[SPOCmaster]  WITH CHECK ADD  CONSTRAINT [FK_SPOCmaster_CompanyMaster] FOREIGN KEY([companyId])
REFERENCES [dbo].[CompanyMaster] ([id])
GO
ALTER TABLE [dbo].[SPOCmaster] CHECK CONSTRAINT [FK_SPOCmaster_CompanyMaster]
GO
ALTER TABLE [dbo].[V115Transactions]  WITH CHECK ADD  CONSTRAINT [FK_V115Transactions_V115] FOREIGN KEY([v115Id])
REFERENCES [dbo].[V115] ([id])
GO
ALTER TABLE [dbo].[V115Transactions] CHECK CONSTRAINT [FK_V115Transactions_V115]
GO
ALTER TABLE [dbo].[V126Transactions]  WITH CHECK ADD  CONSTRAINT [FK_V126Transactions_V126] FOREIGN KEY([v126id])
REFERENCES [dbo].[V126] ([id])
GO
ALTER TABLE [dbo].[V126Transactions] CHECK CONSTRAINT [FK_V126Transactions_V126]
GO
ALTER TABLE [dbo].[v137Transactions]  WITH CHECK ADD  CONSTRAINT [FK_v137Transactions_v137] FOREIGN KEY([v137id])
REFERENCES [dbo].[v137] ([id])
GO
ALTER TABLE [dbo].[v137Transactions] CHECK CONSTRAINT [FK_v137Transactions_v137]
GO
ALTER TABLE [dbo].[V143Transactions]  WITH CHECK ADD  CONSTRAINT [FK_V143Transactions_V143] FOREIGN KEY([v143id])
REFERENCES [dbo].[V143] ([id])
GO
ALTER TABLE [dbo].[V143Transactions] CHECK CONSTRAINT [FK_V143Transactions_V143]
GO
/****** Object:  StoredProcedure [dbo].[sp_137_Transactions]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_137_Transactions]
	-- Add the parameters for the stored procedure here
@id bigint = null,
@v137id BIGINT = NULL,
@qid int = null,
@subQ int = null,
@Ans nvarchar(255) = null,
@loginUser nvarchar(255) = null

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO v137Transactions VALUES(@v137id, @qid, @subQ, @Ans, @loginUser, GETDATE(), NULL, NULL)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_143]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_143]
	-- Add the parameters for the stored procedure here
	@email nvarchar(255),
	@v143id bigint out

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		INSERT INTO V143 VALUES(@email, @email, GETDATE())
		SELECT TOP 1 @v143id = id FROM V143 WHERE email = @email ORDER BY ID DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_143Trans]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_143Trans]
	-- Add the parameters for the stored procedure here
@v143id bigint,
@qid int,
@answer nvarchar(50) = null,
@createdby nvarchar(255)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO V143Transactions VALUES(@v143id, @qid, @answer, @createdby, GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[sp_158]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_158]
	-- Add the parameters for the stored procedure here
@email nvarchar(255) = null,
@medications nvarchar(255) = null,
@effects nvarchar(255) = null,
@recommandations text = null

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO V158 VALUES(@email, @medications, @effects, @recommandations, @email, GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[sp_company]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_company]
	-- Add the parameters for the stored procedure here
@id bigint = null,
@CompanyCode nvarchar(50) = null,
@CompanyName nvarchar(255) = null,
@BranchCode nvarchar(50) = null,
@BranchName nvarchar(255) = null,
@ShortCode int = null,
@Address text = null,
@City nvarchar(50) = null,
@State nvarchar(50) = null,
@loginUser nvarchar(255) = null,
@action nvarchar(50) = null,
@CompanyId bigint out
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set @CompanyId = 0
    -- Insert statements for procedure here
	if(@action = 'INSERT')
	BEGIN
		INSERT INTO CompanyMaster VALUES(@CompanyCode, @CompanyName, @BranchCode, @BranchName, @ShortCode, @Address, @City, @State, @loginUser, GETDATE(), NULL, NULL);
		Select @CompanyId = SCOPE_IDENTITY() from CompanyMaster
	END

	IF(@action = 'UPDATE')
	BEGIN
		UPDATE CompanyMaster SET
		CompanyCode = @CompanyCode,
		CompanyName = @CompanyName,
		BranchCode = @BranchCode,
		BranchName = @BranchName,
		ShortCode = @ShortCode,
		Address = @Address,
		City = @City,
		State = @State
		WHERE id = @id
	END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_spoc]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_spoc]
	-- Add the parameters for the stored procedure here
@id bigint = null,	
@companyId int = null,
@companyCode nvarchar(50) = null,
@branchCode nvarchar(50) = null,
@spocname nvarchar(255) = null,
@designation nvarchar(50) = null,
@spocemail nvarchar(255) = null,
@spoccontactno nvarchar(50) = null,
@category nvarchar(50) = null,
@loginUser nvarchar(255) = null,
@typeId int = null,
@action nvarchar(50) = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF(@action = 'INSERT')
	BEGIN
	INSERT INTO SPOCmaster VALUES(@companyId, @companyCode, @branchCode, @spocname, @designation, @spocemail, @spoccontactno, @category, @typeId, @loginUser, GETDATE(), NULL, NULL)
	END
	
	IF(@action = 'UPDATE')
	BEGIN
		UPDATE SPOCmaster SET
		companyId = @companyId,
		companyCode = @companyCode,
		branchCode = @branchCode,
		spocname = @spocname,
		designation = @designation,
		spocemail = @spocemail,
		spoccontactno = @spoccontactno,
		category = @category,
		modifiedby = @loginUser,
		modifiedon = GETDATE()
		where id = @id
		
	END

	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_v115]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_v115]
	-- Add the parameters for the stored procedure here
	@email nvarchar(255) = null,
	@parentname nvarchar(255) = null,
	@witnessname nvarchar(255) = null,
	@v115Id bigint OUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO V115 VALUES(@email, @parentname, @witnessname, @email, GETDATE(), NULL, NULL);

	  SELECT TOP 1 @v115Id = ID FROM V115 WHERE EMAIL = @email ORDER BY ID DESC
	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_v115Trans]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_v115Trans]
	-- Add the parameters for the stored procedure here
		@v115Id bigint,
	@qid int,
	@answer nvarchar(50) = null,
	@loginUser nvarchar(50) = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Insert into V115Transactions values(@v115Id, @qid, @answer, @loginUser, GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[sp_v126]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_v126]
	-- Add the parameters for the stored procedure here
@id bigint = null,
@email nvarchar(255),
@physicianName nvarchar(255) = null,
@physicianPhone nvarchar(255) = null,
@emergencyContactPersonName nvarchar(255) = null,
@emergencyContactPersonPhone nvarchar(50) = null,
@MedicineDrugsAndReason text = null,
@PhysicianKnowParticipation nvarchar(50) = null,
@PhysicalActivity text = null,
@cretaedby nvarchar(50),
@action nvarchar(10),
@v126 bigint out
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if(@action = 'INSERT')
	begin
	INSERT INTO V126 VALUES(@email, @physicianName, @physicianPhone, @emergencyContactPersonName, @emergencyContactPersonPhone, @MedicineDrugsAndReason, @PhysicianKnowParticipation, @PhysicalActivity, @cretaedby, GETDATE(), NULL, NULL)

	SELECT top 1 @v126 = id FROM V126 WHERE email = @email order by id desc
	end
    -- Insert statements for procedure here
	if(@action = 'UPDATE')
	BEGIN
	UPDATE V126 SET
	physicianName = @physicianName,
	PhysicalActivity = @PhysicalActivity,
	physicianPhone = @physicianPhone,
	emergencyContactPersonName = @emergencyContactPersonName,
	emergencyContactPersonPhone = @emergencyContactPersonPhone,
	MedicineDrugsAndReason = @MedicineDrugsAndReason,
	modifiedby = @email,
	modifiedon = GETDATE()
	WHERE id = @id

	sELECT @v126 = @id
	END

END
GO
/****** Object:  StoredProcedure [dbo].[sp_v126Transactions]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_v126Transactions]
	-- Add the parameters for the stored procedure here
	@v126id bigint = null,
	@qid int = null,
	@answer nvarchar(50) = null,
	@loginUser nvarchar(255) = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO V126Transactions VALUES(@v126id, @qid, @answer, @loginUser, GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[sp_v137]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_v137]
	-- Add the parameters for the stored procedure here
@id bigint = null,
@empEmail nvarchar(255) = null,
@RateExp nvarchar(50) = null,
@IsAthlete nvarchar(50) = null,
@IfAthleteY nvarchar(255) = null,
@IsNegFeeling nvarchar(50) = null,
@IfNegFeelingY nvarchar(255) = null,
@IsNegFeelingFit nvarchar(50) = null,
@IsNegFeelingFitY nvarchar(255) = null,
@IsStartExe nvarchar(50) = null,
@ExeTime nvarchar(50) = null,
@ExeUnit nvarchar(255) = null,
@RegIndExe nvarchar(50) = null,
@IfRegIndExeY nvarchar(255) = null,
@RegIndExeTime nvarchar(50) = null,
@RegIndExeUnit nvarchar(50) = null,
@RateRedIndExe nvarchar(50) = null,
@ExeFromMonths nvarchar(50) = null,
@ExeFromYeasrs nvarchar(50) = null,
@ParticipatedOtherExeMonths nvarchar(50) = null,
@ParticipatedOtherExeYears nvarchar(50) = null,
@ExeDuringWRKDY nvarchar(50) = null,
@ExeInterfereWithJob nvarchar(50) = null,
@ExeBenefitJob nvarchar(50) = null,
@WeightInc nvarchar(50) = null,
@WeightDec nvarchar(50) = null,
@v137Id bigint out,
@loginUser nvarchar(255) = null,
@action nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF(@action = 'INSERT')
	BEGIN
		INSERT INTO v137 VALUES(@empEmail,
			@RateExp, 
			@IsAthlete, 
			@IfAthleteY, 
			@IsNegFeeling, 
			@IfNegFeelingY, 
			@IsNegFeelingFit, 
			@IsNegFeelingFitY, 
			@IsStartExe, 
			@ExeTime, 
			@ExeUnit, 
			@RegIndExe, 
			@IfRegIndExeY,
			@RegIndExeTime, 
			@RegIndExeUnit,
			@RateRedIndExe,
			@ExeFromMonths, 
			@ExeFromYeasrs, 
			@ParticipatedOtherExeMonths, 
			@ParticipatedOtherExeYears, 
			@ExeDuringWRKDY, 
			@ExeInterfereWithJob, 
			@ExeBenefitJob, 
			@WeightInc, 
			@WeightDec, 
			NULL, 
			GETDATE(), 
			null, 
			null) 
	END


	--SElect top 1 @v137Id = id from v137 where empEmail = @empEmail order by id desc
	Select @v137Id = SCOPE_IDENTITY() from v137
END
GO
/****** Object:  StoredProcedure [dbo].[sp_v169]    Script Date: 20-09-2020 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_v169]
	-- Add the parameters for the stored procedure here
@id bigint = null,
@empEmail nvarchar(255) = null,
@EssRestingHR float = null,
@EssExerciseHR float = null,
@EssHRDate date = null,
@EssRestingBP nvarchar(50) = null,
@EssRestingBPDate date = null,
@BCADate date = null,
@WeightIb float = null,
@HeightIn float = null,
@WeightKg float = null,
@HeightM float = null,
@BCABMI float = null,
@SKMmenChest float = null,
@SKMmenAbdomen float = null,
@SKMmenThigh float = null,
@SKMmenTotal float = null,
@SKMwomenTriceps float = null,
@SKMwomenSuprailium float = null,
@SKMwomenThigh float = null,
@SKMwomenTotal float = null,
@SKMBodyFatEst float = null,
@SKMDate date = null,
@GMDate date = null,
@GMAbdomen float = null,
@GMHip float = null,
@GMWaist float = null,
@GMWaistToHipRatio nvarchar(50) = null,
@loginUser nvarchar(50) = null,
@action nvarchar(50) = null


AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	if(@action = 'INSERT')
	BEGIN
		INSERT INTO V169 VALUES(@empEmail, @EssRestingHR, @EssExerciseHR, @EssHRDate, @EssRestingBP, @EssRestingBPDate, @BCADate, @WeightIb, @HeightIn, @WeightKg, @HeightM, @BCABMI, @SKMmenChest, @SKMmenAbdomen, @SKMmenThigh, @SKMmenTotal, @SKMwomenTriceps, @SKMwomenSuprailium, @SKMwomenThigh, @SKMwomenTotal, @SKMBodyFatEst, @SKMDate, @GMDate, @GMAbdomen, @GMHip, @GMWaist, @GMWaistToHipRatio, @loginUser, GETDATE(), NULL, NULL)
	END
END
GO
USE [master]
GO
